@import "tailwindcss";

h1{
  color: #FFF;
  font-size: small;
}
.bodylayout{
  background-color:#FFF;
  margin:0px;
}

.layout{
  border:1px solid #000;
  background-color:#24d12c;
  margin:0px;
  padding:0px;
  min-height: 102vh;
}

.content{
  border:1px solid #000;
  background-color:#044;
  margin:10px;
  padding:5px;
  min-height:97vh;
}


.prodDetails h3{
  color: #24d12c !important;

}

.reviewList{
  float: unset;
  padding-bottom: 15px;
  
}

.prodImg{
  max-height: 250px;
  max-width: 250px;
  
}

.prodContent, .prodImgList{
  width: 50%;
  /*float: left;*/
}


.prodDetails {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
  border: 2px solid #24d12b;
  padding: 20px;
}

.prodContent {
  flex: 1;
}

.prodImgList {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.prodImg {
  width: 150px;
  height: auto;
  object-fit: cover;
}

button{
  margin: 25px;
  padding: 5px;
  color: #000;
  background-color: burlywood;
}

.btnA{
  margin: 25px;
  padding: 5px;
  color: #000;
  background-color: burlywood;
}

.btnB{
  margin: 25px;
  padding: 5px;
  color: #000;
  background-color: bisque;
}
